.header {
    font-family: serif;
}

.project {
    display: inline-block;
    width: 49%;
    min-height: 250px;
    border: 1px solid rgba(204, 204, 204, 0.54);
    vertical-align: top;
    margin-top: 10px;
    padding: 20px 3px;
}

@media (max-width:480px)  {
    .project {
        display: block;
        width: 100%;
        min-height: auto;
    }
}

.project:nth-child(2) {
    margin-left: 10px;
}

.project > a {
    display: block;
    text-align: center;
}

.project > a > img {
    width:256px;
    max-width:50%
}


