.header {
    font-family: serif;
}

.project {
    display: inline-block;
    width: 49%;
    height: 200px;
}

.project:nth-child(2) {
    margin-left: 10px;
}

.project > a > img {
    width:256px;
    max-width:50%
}


